* {
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, .71);
}

body {
    background-color: #fcfcfc;
    display: flex;
}

.card {
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    margin: .5rem 0 1rem;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.card-img {}

.card-img img {
    /* width: -webkit-fill-available; */
    width: 150px;
}

.container {
    /* margin: auto; */
}

.container-div {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.container-div-p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.card-text {
    color: black;
    text-align: left;
}

.date-text {
    padding-top: 10px;
    color: gray;
    text-align: left;
}

.hover:hover {
    cursor: pointer;
}

.lacture-card {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    background: none;
    border: none;
}

.logo-img {
    width: 160px;
    margin-bottom: 20px;
}

.main-div {
    padding-left: 20vw;
}

.main-div header {
    width: 70%;
    background-color: #38435a;
    padding: 1rem 20vw 1rem 0;
    display: flex;
    margin-bottom: 10px;
}

.main-div header div {
    margin-left: 12vw;
    margin-right: auto;
}

.main-div header div h3 {
    color: white;
    font-size: 35px;
    font-weight: 100;
}

.main-div main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    /* padding-top: 50px; */
    position: fixed;
    transition: left 0.3s;
    width: 20vw;
    height: 100vh;
    z-index: 999;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.sidebar ul li {
    font-size: 13px;
    line-height: 44px;
    height: 44px;
    padding: 0 30px;
}

.sidebar ul li:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.sidebar ul li button {
    font-weight: 500;
    text-decoration: none;
    color: black;
    width: -webkit-fill-available;
    background: none;
    border: none;
    height: -webkit-fill-available;
}

ul {
    list-style-type: none;
}
